<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, '/static/images/diplom3.jpg', 'Compte Adelium', 'Espace sécurisé')}">
<body>

<div class="container bs-success">
  <h2 class="text-warning text-center pb-5">Diplômes, Certifications Professionnelles et Attestations de Compétences</h2>
  <h4 class="text-warning text-center pb-5">Valorisez vos expériences professionnelles
    Pour vous</h4>

  <div class="row justify-content-center zoom d-flex justify-content-center">
    <!-- Carte 1 -->
    <div class="col-md-4">
      <div class="card p-2 m-2 ">
        <img src="/static/images/diplom1.jpg" class="card-img-top" alt="Image 1">
        <div class="card-body text-center">
          <h4 class="card-title">Titres professionnelles </h4>
          <p class="card-text ">Le titre professionnel, est une certification délivrée par le Ministère <BR>
            de l’emploi est enregistré au RNCP. Il permet à de justifier le suivi d’une formation lui <BR>
            ayant permis d’acquérir certaines compétences et qualifications spécifiques transposables<BR>
            dans le cadre de ses activités professionnelles.</p>
        </div>
      </div>
    </div>

    <!-- Carte 2 -->
    <div class="col-md-4">
      <div class="card p-2 m-2">
        <img src="/static/images/diplom2.jpg" class="card-img-top" alt="Image 2">
        <div class="card-body text-center">
          <h4 class="card-title">Certificat de Qualification Professionnelle (CQP)</h4>
          <p class="card-text">Le CQP vise à reconnaître des qualifications et des compétences propres<br>
            à un métier. C’est une certification spécifique à la branche professionnelle qui est <br>
            reconnue par les entreprises du secteur. Sa qualité est officiellement reconnue par <br>
            le monde professionnel, car au plus près de la réalité des métiers et des problématiques de la branche.</p>
        </div>
      </div>
    </div>

    <!-- Carte 3 -->
    <div class="col-md-4">
      <div class="card p-2 m-2">
        <img src="/static/images/diplom4.jpg" class="card-img-top" alt="Image 3">
        <div class="card-body text-center">
          <h4 class="card-title">Diplômes</h4>
          <p class="card-text">Les diplômes sont délivrés au nom de l’État (via les ministères) ils attestent <br>
          d’une formation initiale ou professionnelle selon un processus structuré de<br>
            validation. La validité du diplôme est permanente.</p>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>