<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, '/static/images/contact1.jpg', 'Construisez votre avenir', 'Adelium vous accompagne')}">
<body>


<div class="container divColor mt-5 mb-5">
  <h2 class="text-center text-primary fw-bold">Contactez nous</h2>
  <form  th:action="@{/contact}" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Votre Nom</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Votre Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="subject" class="form-label">Sujet</label>
      <input type="text" class="form-control" id="subject" name="subject" required>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
    </div>
    <div class="container p-5 text-center">
      <button  type="submit" class="btn btn-primary">Envoyer</button>
    </div>

  </form>
</div>


</body>
</html>
