<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, '/static/images/contact2.jpg', 'mon titre', 'monosutitlre')}">


<body>
    <h2>Delete Training</h2>

    <p>Are you sure you want to delete the training "<span th:text="${training.name}"></span>"?</p>

    <div class="container divTraining">
        <div class="row">
            <div class="col-md-6">
                <div id="trainingName" th:text="${training.name}"></div>
                <div id="trainingDescription" th:text="${training.description}"></div>

                <!-- Utilisez th:href pour définir l'URL à appeler -->
                <a class="btn btn-danger" th:href="@{/deleteTraining/{id}(id=${training.id})}">Supprimer</a>
            </div>
        </div>
    </div>

</body>
</html>
