<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, '/static/images/fill1.png', 'FORMATION', '')}">

<body>


<h2 class=" text-center p-4 blue fw-bold" th:text="${training.name}"></h2>


<div class="container divTraining p-5 text-center mt-5">
    <h2 th:text="${training.name}" id="trainingName"></h2>
    <p th:text="${training.description}" id="trainingDescription"></p>

    <div class="btn-group m-5">
        <a class="btn btn-outline-primary mr-2" th:href="@{/update/{id}(id=${training.id})}">Mettre à jour</a>
        <a class="btn btn-outline-warning mr-2" th:href="@{/delete/{id}(id=${training.id})}">Supprimer</a>
        <a class="btn btn-outline-info" th:href="@{/create}">Ajouter une nouvelle formation</a>
    </div>
</div>


</body>
</html>

